Repository WordPress/Learn, pull requests merged in 2020-12, with the labels that each got.

#154 Add “Upcoming discussion groups” section to front page
  .wp-env.json
  .wp-env/wporg_events.sql
  bin/index.sh
  wp-content/plugins/wporg-learn/build/block-styles.asset.php
  wp-content/plugins/wporg-learn/build/block-styles.js
  wp-content/plugins/wporg-learn/build/event.asset.php
  wp-content/plugins/wporg-learn/build/event.js
  wp-content/plugins/wporg-learn/build/form.asset.php
  wp-content/plugins/wporg-learn/build/form.js
  wp-content/plugins/wporg-learn/build/workshop-application-form.asset.php
  wp-content/plugins/wporg-learn/build/workshop-application-form.js
  wp-content/plugins/wporg-learn/build/workshop-details.asset.php
  wp-content/plugins/wporg-learn/build/workshop-details.js
  wp-content/plugins/wporg-learn/inc/events.php
  wp-content/plugins/wporg-learn/js/event.js
  wp-content/plugins/wporg-learn/webpack.config.js
  wp-content/plugins/wporg-learn/wporg-learn.php
  wp-content/themes/pub/wporg-learn-2020/css/components/_components.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_workshop-discussion-events.scss
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/front-page.php
  wp-content/themes/pub/wporg-learn-2020/functions.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-discussion-event-short-item.php
Labels: [Component] Learn Theme, [Component] Workshops

#161 Home page: Add a link for leading a discussion group
  wp-content/themes/pub/wporg-learn-2020/css/components/_workshop-discussion-events.scss
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/front-page.php
Labels: [Component] Learn Theme

#162 Theme: Add workaround to mitigate SyntaxHighlighter html entities bug
  wp-content/themes/pub/wporg-learn-2020/functions.php
Labels: [Component] Learn Theme

#168 Courses: Adjust layout of single course pages
  wp-content/plugins/wporg-learn/inc/sensei.php
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/css/vendor/_sensei.scss
  wp-content/themes/pub/wporg-learn-2020/css/vendor/_vendor.scss
Labels: [Component] Learn Theme, [Component] Sensei, [Component] Workshops

#175 Lesson Plans: Add ID to sort order to prevent "random" sorting.
  wp-content/themes/pub/wporg-learn-2020/functions.php
Labels: [Component] Learn Theme

#183 Theme: Add filtering to lesson plan archive, improve CPT-specific search
  wp-content/plugins/wporg-learn/inc/taxonomy.php
  wp-content/themes/pub/wporg-learn-2020/archive-wporg_workshop.php
  wp-content/themes/pub/wporg-learn-2020/css/components/_card.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_components.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_sidebar-filters.scss
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/functions.php
  wp-content/themes/pub/wporg-learn-2020/searchform.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-archive-search.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-lesson-filters.php
Labels: [Component] Learn Theme, [Component] Lesson Plans
