Repository WordPress/Learn, pull requests merged in 2020-08, with the labels that each got.

#24 Try consolidating the plugins
  wp-content/plugins/wporg-detail-list/.editorconfig
  wp-content/plugins/wporg-detail-list/.gitignore
  wp-content/plugins/wporg-detail-list/block.json
  wp-content/plugins/wporg-detail-list/build/index.asset.php
  wp-content/plugins/wporg-detail-list/build/index.css
  wp-content/plugins/wporg-detail-list/build/index.css.map
  wp-content/plugins/wporg-detail-list/build/index.js
  wp-content/plugins/wporg-detail-list/build/index.js.map
  wp-content/plugins/wporg-detail-list/build/style-index.css
  wp-content/plugins/wporg-detail-list/build/style-index.css.map
  wp-content/plugins/wporg-detail-list/detail-list.php
  wp-content/plugins/wporg-detail-list/package-lock.json
  wp-content/plugins/wporg-detail-list/package.json
  wp-content/plugins/wporg-detail-list/readme.txt
  wp-content/plugins/wporg-detail-list/src/index.js
  wp-content/plugins/wporg-learn/build/block-styles.asset.php
  wp-content/plugins/wporg-learn/build/block-styles.js
  wp-content/plugins/wporg-learn/build/style-block-styles.css
  wp-content/plugins/wporg-learn/build/style-workshop-details.css
  wp-content/plugins/wporg-learn/build/workshop-details.asset.php
  wp-content/plugins/wporg-learn/build/workshop-details.css
  wp-content/plugins/wporg-learn/build/workshop-details.js
  wp-content/plugins/wporg-learn/inc/blocks.php
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/inc/post-type.php
  wp-content/plugins/wporg-learn/js/block-styles/index.js
  wp-content/plugins/wporg-learn/js/block-styles/style.scss
  wp-content/plugins/wporg-learn/js/workshop-details/block.json
  wp-content/plugins/wporg-learn/js/workshop-details/src/edit.js
  wp-content/plugins/wporg-learn/js/workshop-details/src/editor.scss
  wp-content/plugins/wporg-learn/js/workshop-details/src/index.js
  wp-content/plugins/wporg-learn/js/workshop-details/src/save.js
  wp-content/plugins/wporg-learn/js/workshop-details/src/style.scss
  wp-content/plugins/wporg-learn/package-lock.json
  wp-content/plugins/wporg-learn/package.json
  wp-content/plugins/wporg-learn/wporg-learn.php
  wp-content/plugins/wporg-link-button/.editorconfig
  wp-content/plugins/wporg-link-button/.gitignore
  wp-content/plugins/wporg-link-button/block.json
  wp-content/plugins/wporg-link-button/build/index.asset.php
  wp-content/plugins/wporg-link-button/build/index.css
  wp-content/plugins/wporg-link-button/build/index.css.map
  wp-content/plugins/wporg-link-button/build/index.js
  wp-content/plugins/wporg-link-button/build/index.js.map
  wp-content/plugins/wporg-link-button/build/style-index.css
  wp-content/plugins/wporg-link-button/build/style-index.css.map
  wp-content/plugins/wporg-link-button/link-button.php
  wp-content/plugins/wporg-link-button/package.json
  wp-content/plugins/wporg-link-button/readme.txt
  wp-content/plugins/wporg-link-button/src/edit.js
  wp-content/plugins/wporg-link-button/src/editor.scss
  wp-content/plugins/wporg-link-button/src/save.js
  wp-content/plugins/wporg-link-button/src/style.scss
Labels: [Component] Learn Plugin

#48 Theme: Update home page CTAs
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/css/vendor/_overrides.scss
  wp-content/themes/pub/wporg-learn-2020/front-page.php
Labels: [Component] Learn Theme

#51 Workshops: Tweaks to details output, add seconds field for duration
  wp-content/plugins/wporg-learn/inc/blocks.php
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/views/metabox-workshop-details.php
Labels: [Component] Learn Plugin

#47 Lesson Plans: Overhaul the lesson plan archive
  wp-content/plugins/wporg-learn/inc/class-lesson-plan.php
  wp-content/plugins/wporg-learn/inc/taxonomy.php
  wp-content/plugins/wporg-learn/wporg-learn.php
  wp-content/themes/pub/wporg-learn-2020/archive-lesson-plan.php
  wp-content/themes/pub/wporg-learn-2020/archive.php
  wp-content/themes/pub/wporg-learn-2020/taxonomy-wporg_lesson_category.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-filters.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-lesson-filters.php
Labels: [Component] Learn Plugin, [Component] Learn Theme

#64 Theme: Update heading levels
  wp-content/themes/pub/wporg-learn-2020/archive-wporg_workshop.php
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/css/vendor/_overrides.scss
  wp-content/themes/pub/wporg-learn-2020/front-page.php
  wp-content/themes/pub/wporg-learn-2020/functions.php
  wp-content/themes/pub/wporg-learn-2020/page-submit-an-idea.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/content-single.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/content-workshop-single.php
Labels: [Component] Learn Theme

#63 Correct spelling of resources
  wp-content/themes/pub/wporg-learn-2020/header.php
Labels: [Component] Learn Theme

#62 Change Facilitator to Presenter
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/views/metabox-workshop-facilitators.php
  wp-content/plugins/wporg-learn/views/metabox-workshop-presenters.php
Labels: [Component] Learn Plugin

#30 Use information from the local user for the workshop.
  wp-content/themes/pub/wporg-learn-2020/css/components/_components.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_workshop-page.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_workshop-presenter.scss
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/functions.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-author.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-featured-workshop.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-workshop-presenter.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/content-workshop-single.php
Labels: [Component] Learn Theme, [Priority] High

#69 Workshop Details: Make the human readable duration more succinct
  wp-content/plugins/wporg-learn/inc/post-meta.php
Labels: [Component] Learn Plugin

#74 Workshop template: Update the link for discussion groups
  wp-content/plugins/wporg-learn/inc/post-type.php
Labels: [Component] Learn Plugin

#75 Markdown import: Use `$supported_post_types` as a string
  wp-content/plugins/wporg-learn/inc/class-markdown-import.php
Labels: [Component] Learn Plugin

#86 Move the submit cta to a template and make the icon optional.
  wp-content/themes/pub/wporg-learn-2020/archive-lesson-plan.php
  wp-content/themes/pub/wporg-learn-2020/archive-wporg_workshop.php
  wp-content/themes/pub/wporg-learn-2020/front-page.php
  wp-content/themes/pub/wporg-learn-2020/functions.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-submit-idea-cta.php
Labels: [Component] Learn Theme

#100 Updating address to https://learn.wordpress.org/report-content-errors/
  wp-content/themes/pub/wporg-learn-2020/template-parts/content-single.php
Labels: [Component] Learn Theme

#101 Updating workshop presenter application link
  wp-content/themes/pub/wporg-learn-2020/archive-wporg_workshop.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-submit-idea-cta.php
Labels: [Component] Learn Theme

#99 Update Title Tag to "Learn WordPress"
  wp-content/themes/pub/wporg-learn-2020/functions.php
Labels: [Component] Learn Theme

#93 Workshops: Add "series" taxonomy
  wp-content/plugins/wporg-learn/inc/class-lesson-plan.php
  wp-content/plugins/wporg-learn/inc/class-workshop.php
  wp-content/plugins/wporg-learn/inc/post-type.php
  wp-content/plugins/wporg-learn/inc/taxonomy.php
  wp-content/plugins/wporg-learn/wporg-learn.php
  wp-content/themes/pub/wporg-learn-2020/archive-wporg_workshop.php
  wp-content/themes/pub/wporg-learn-2020/css/components/_components.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_section-heading.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_series-navigation.scss
  wp-content/themes/pub/wporg-learn-2020/css/components/_workshop-page.scss
  wp-content/themes/pub/wporg-learn-2020/css/style.css
  wp-content/themes/pub/wporg-learn-2020/css/style.css.map
  wp-content/themes/pub/wporg-learn-2020/front-page.php
  wp-content/themes/pub/wporg-learn-2020/functions.php
  wp-content/themes/pub/wporg-learn-2020/taxonomy-wporg_workshop_series.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-featured-workshop.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-series-navigation.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/component-video-grid.php
  wp-content/themes/pub/wporg-learn-2020/template-parts/content-workshop-single.php
Labels: [Component] Learn Plugin, [Component] Learn Theme, [Priority] High
