Repository WordPress/Learn, pull requests merged in 2023-10, with the labels that each got.

#1901 Hacktoberfest PR for Issue 806
  hacktoberfest-2023.md
  readme.md
Labels: hacktoberfest-accepted

#1871 Add function_exists check
  wp-content/themes/pub/wporg-learn-2020/header.php
Labels: [Type] Bug, [Component] Learn Theme, Needs review

#1912 Hacktoberfest PR for #1893
  hacktoberfest-2023.md
Labels: hacktoberfest-accepted

#1930 Update hacktoberfest-2023.md
  hacktoberfest-2023.md
Labels: hacktoberfest

#1910 Update hacktoberfest-2023.md
  hacktoberfest-2023.md
Labels: hacktoberfest, hacktoberfest-accepted

#1932 Update hacktoberfest-2023.md Building a home page
  hacktoberfest-2023.md
Labels: hacktoberfest, hacktoberfest-accepted

#1939 Update hacktoberfest-2023.md
  hacktoberfest-2023.md
Labels: hacktoberfest, hacktoberfest-accepted

#1938 Update hacktoberfest-2023.md
  hacktoberfest-2023.md
Labels: hacktoberfest, hacktoberfest-accepted

#1880 Added IDs to headings for anchor links
  wp-content/themes/pub/wporg-learn-2020/patterns/00-en-lesson-plan.php
Labels: hacktoberfest, hacktoberfest-accepted, Needs review
