Repository WordPress/Learn, pull requests merged in 2024-01, with the labels that each got.

#2098 Update _sensei.scss
  wp-content/themes/pub/wporg-learn-2020/css/vendor/_sensei.scss
Labels: [Component] Learn Theme, [Dev] Needs Review

#2121 Adding Lessons to content issue templates
  .github/ISSUE_TEMPLATE/01-content-development-general.md
  .github/ISSUE_TEMPLATE/02-content-development-faculty.md
Labels: [Dev] Needs Review

#2120 Adding //lesson automation
  .github/workflows/comment-with-checklist.yml
  .github/workflows/content-checklist-from-issue.yml
Labels: [Dev] Needs Review

#1920 Issue Link Added For Hacktoberfest PR
  hacktoberfest-2023.md
Labels: hacktoberfest
