Repository WordPress/Learn, pull requests merged in 2024-05, with the labels that each got.

#2397 Add 2024 block theme
  .github/workflows/build.yml
  .gitignore
  composer.json
  composer.lock
  package.json
  phpcs.xml.dist
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/package.json
  wp-content/themes/pub/wporg-learn-2024/parts/footer.html
  wp-content/themes/pub/wporg-learn-2024/parts/header.html
  wp-content/themes/pub/wporg-learn-2024/src/style/block.json
  wp-content/themes/pub/wporg-learn-2024/src/style/index.js
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
  wp-content/themes/pub/wporg-learn-2024/style.css
  wp-content/themes/pub/wporg-learn-2024/templates/index.html
  wp-content/themes/pub/wporg-learn-2024/templates/page.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
  wp-content/themes/pub/wporg-learn-2024/webpack.config.js
  yarn.lock
Labels: [Component] Learn Theme

#2419 Add the Experience Level taxonomy to Courses and Lessons
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/admin.php
  wp-content/themes/pub/wporg-learn-2024/inc/taxonomy.php
Labels: [Component] Learn Theme

#2431 Customize single lesson template
  phpcs.xml.dist
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-header.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
  wp-content/themes/pub/wporg-learn-2024/templates/single-lesson.html
  wp-content/themes/pub/wporg-learn-2024/templates/single-quiz.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
Labels: [Component] Learn Theme

#2435 Extend Audience and Level taxonomies to Courses and Lessons
  wp-content/plugins/wporg-learn/inc/admin.php
  wp-content/plugins/wporg-learn/inc/taxonomy.php
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/admin.php
  wp-content/themes/pub/wporg-learn-2024/inc/capabilities.php
  wp-content/themes/pub/wporg-learn-2024/inc/taxonomy.php
Labels: [Component] Learn Theme, [Component] Learn Plugin

#1621 Changed css to fix navigation issues in long menu names.
  wp-content/themes/pub/wporg-learn-2020/css/vendor/_legacy-styles.scss
Labels: [Dev] Needs Review

#2444 Add Online Workshops page template
  wp-content/themes/pub/wporg-learn-2024/assets/block-calendar-dark.svg
  wp-content/themes/pub/wporg-learn-2024/assets/block-calendar-light.svg
  wp-content/themes/pub/wporg-learn-2024/assets/list-type-bullet-dark.svg
  wp-content/themes/pub/wporg-learn-2024/assets/list-type-bullet-light.svg
  wp-content/themes/pub/wporg-learn-2024/patterns/page-online-workshops-content.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_components.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_wporg-meeting-calendar.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
  wp-content/themes/pub/wporg-learn-2024/style.css
  wp-content/themes/pub/wporg-learn-2024/templates/page-online-workshops.html
Labels: [Component] Learn Theme

#2452 Add Learning Pathway cards block to home and landing pages
  wp-content/themes/pub/wporg-learn-2024/assets/learning-pathway-contributor.svg
  wp-content/themes/pub/wporg-learn-2024/assets/learning-pathway-designer.svg
  wp-content/themes/pub/wporg-learn-2024/assets/learning-pathway-developer.svg
  wp-content/themes/pub/wporg-learn-2024/assets/learning-pathway-user.svg
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-header.php
  wp-content/themes/pub/wporg-learn-2024/patterns/learning-pathways-terms.php
  wp-content/themes/pub/wporg-learn-2024/patterns/page-learning-pathways-content.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-cards/block.json
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-cards/block.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-cards/index.js
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-cards/style.scss
  wp-content/themes/pub/wporg-learn-2024/src/shared/dynamic-edit.js
  wp-content/themes/pub/wporg-learn-2024/templates/front-page.html
  wp-content/themes/pub/wporg-learn-2024/templates/page-learning-pathways.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
Labels: [Component] Learn Theme

#2479 Add Learning Pathway template content
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-cards/block.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_taxonomy-learning-pathway.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
  wp-content/themes/pub/wporg-learn-2024/templates/taxonomy-learning-pathway.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
Labels: [Component] Learn Theme, Dev
