Repository WordPress/Learn, pull requests merged in 2024-06, with the labels that each got.

#2497 Add search to archive templates
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lessons-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/search-field.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content.php
  wp-content/themes/pub/wporg-learn-2024/templates/archive-course.html
  wp-content/themes/pub/wporg-learn-2024/templates/archive-lesson.html
Labels: [Component] Learn Theme, Accessibility, Dev

#2502 Fix accessibility of page landmarks
  wp-content/themes/pub/wporg-learn-2024/parts/footer.html
  wp-content/themes/pub/wporg-learn-2024/templates/archive-course.html
  wp-content/themes/pub/wporg-learn-2024/templates/archive-lesson.html
  wp-content/themes/pub/wporg-learn-2024/templates/archive.html
  wp-content/themes/pub/wporg-learn-2024/templates/front-page.html
  wp-content/themes/pub/wporg-learn-2024/templates/index.html
  wp-content/themes/pub/wporg-learn-2024/templates/page-learning-pathways.html
  wp-content/themes/pub/wporg-learn-2024/templates/page-online-workshops.html
  wp-content/themes/pub/wporg-learn-2024/templates/page.html
  wp-content/themes/pub/wporg-learn-2024/templates/single-course.html
  wp-content/themes/pub/wporg-learn-2024/templates/single.html
  wp-content/themes/pub/wporg-learn-2024/templates/taxonomy-learning-pathway.html
Labels: [Type] Bug, Accessibility, Dev

#2503 Activate wporg-learn plugin at env setup
  bin/index.sh
  package.json
Labels: [Component] Environment, Dev

#2491 Add breadcrumbs to templates
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-header.php
  wp-content/themes/pub/wporg-learn-2024/templates/single-course.html
Labels: [Component] Learn Theme, Dev

#2504 Add query filters to Course and Lesson archives
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lessons-content.php
Labels: [Component] Learn Theme, Dev

#2524 Add single course page
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sidebar-meta-info.php
  wp-content/themes/pub/wporg-learn-2024/src/sensei-meta-list/block.json
  wp-content/themes/pub/wporg-learn-2024/src/sensei-meta-list/index.js
  wp-content/themes/pub/wporg-learn-2024/src/sensei-meta-list/index.php
  wp-content/themes/pub/wporg-learn-2024/src/sensei-meta-list/style.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_sidebar.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
  wp-content/themes/pub/wporg-learn-2024/templates/single-course.html
Labels: [Component] Learn Theme, Accessibility, Dev

#2535 Add locale suggestion banner
  wp-content/themes/pub/wporg-learn-2024/parts/header.html
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-header.php
Labels: [Component] Learn Theme

#2530 Add query filters to taxonomy templates
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lesson-plan-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lessons-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-header/block.json
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-header/index.js
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-header/index.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-header/style.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_taxonomy-learning-pathway.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_taxonomy.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
  wp-content/themes/pub/wporg-learn-2024/templates/taxonomy.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
Labels: [Component] Learn Theme, Dev

#2536 Update search template
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
  wp-content/themes/pub/wporg-learn-2024/patterns/search-content.php
  wp-content/themes/pub/wporg-learn-2024/templates/search.html
Labels: [Component] Learn Theme, Dev

#2555 Add fallback featured image
  wp-content/themes/pub/wporg-learn-2024/functions.php
Labels: [Component] Learn Theme, Dev

#2553 Add My courses template
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/patterns/my-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_course-grid.scss
  wp-content/themes/pub/wporg-learn-2024/templates/page-my-courses.html
Labels: [Component] Learn Theme, Dev

#2565 Add tutorial template with wordpress.tv video embed
  wp-content/themes/pub/wporg-learn-2024/patterns/single-tutorial-embed.php
  wp-content/themes/pub/wporg-learn-2024/src/sensei-meta-list/index.php
  wp-content/themes/pub/wporg-learn-2024/templates/single-wporg_workshop.html
Labels: [Component] Learn Theme, Dev

#2574 Switch to archive based search
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lesson-plan-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lessons-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/page-my-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content-search-grid.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content-sections.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-header/index.php
  wp-content/themes/pub/wporg-learn-2024/src/search-results-context/index.php
  wp-content/themes/pub/wporg-learn-2024/templates/search.html
Labels: [Component] Learn Theme, [Component] Learn Plugin

#2578 Move Course Grid query loop block variation to theme
  wp-content/plugins/wporg-learn/inc/blocks.php
  wp-content/plugins/wporg-learn/inc/sensei.php
  wp-content/plugins/wporg-learn/webpack.config.js
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/src/course-grid/block.json
  wp-content/themes/pub/wporg-learn-2024/src/course-grid/index.js
  wp-content/themes/pub/wporg-learn-2024/src/course-grid/index.php
Labels: [Component] Learn Theme, [Component] Learn Plugin
