Repository WordPress/Learn, pull requests merged in 2024-08, with the labels that each got.

#2802 Sensei Quizzes: Accessibility fixes for questions
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: Accessibility

#2804 Filters: Add prefix label to the single query filters
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
Labels: Accessibility

#2806 Fix duplicate navigation for lesson nav
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-actions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-columns.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-standalone.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: [Type] Bug, [Component] Sensei, Accessibility

#2810 Align the CTA button sizes.
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: [Type] Bug, [Component] Learn Theme

#2812 Add print stylesheet
  wp-content/themes/pub/wporg-learn-2024/src/style/_print.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
Labels: [Component] Learn Theme

#2813 Index lesson CPT
  wp-content/plugins/wporg-learn/inc/post-type.php
Labels: SEO

#2816 Filter searches by allowed post types if post_type is not set
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
Labels: [Component] Learn Theme

#2817 Add script to fix the issue
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/package.json
  wp-content/themes/pub/wporg-learn-2024/src/lesson-standalone/block.json
  wp-content/themes/pub/wporg-learn-2024/src/lesson-standalone/index.php
  wp-content/themes/pub/wporg-learn-2024/src/lesson-standalone/view.js
Labels: [Type] Bug

#2833 Tools: update packages
  package.json
  wp-content/mu-plugins/pub/locale-switcher/package.json
  wp-content/plugins/wporg-learn/package.json
  wp-content/themes/pub/wporg-learn-2024/package.json
  wp-content/themes/pub/wporg-learn-2024/webpack.config.js
  yarn.lock
Labels: [Component] Environment

#2830 Add a taxonomy for hiding lessons
  wp-content/plugins/wporg-learn/inc/taxonomy.php
  wp-content/plugins/wporg-learn/js/lesson-archive-excluded-meta/index.js
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
Labels: [Component] Learn Theme, [Component] Learn Plugin

#2839 Optimize frontend image handling
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/parts/card-course-h3.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-course.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-lesson-h3.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-lesson.html
  wp-content/themes/pub/wporg-learn-2024/parts/card.html
  wp-content/themes/pub/wporg-learn-2024/patterns/page-my-courses-content.php
Labels: [Component] Learn Theme, Dev

#2843 Support excluding posts based on taxonomy in search queries
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
Labels: [Component] Jetpack

#2846 Remove linking tutorials with lessons
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/views/metabox-workshop-details.php
Labels: [Component] Learn Plugin

#2845 Remove post meta for excluding lessons from archive and search
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/js/lesson-archive-excluded-meta/index.js
  wp-content/plugins/wporg-learn/webpack.config.js
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
Labels: [Component] Learn Theme, [Component] Learn Plugin

#2847 Add course info block on lesson cards
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/parts/card-lesson-h3.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-lesson.html
  wp-content/themes/pub/wporg-learn-2024/parts/card.html
  wp-content/themes/pub/wporg-learn-2024/src/lesson-course-info/block.json
  wp-content/themes/pub/wporg-learn-2024/src/lesson-course-info/index.js
  wp-content/themes/pub/wporg-learn-2024/src/lesson-course-info/index.php
  wp-content/themes/pub/wporg-learn-2024/src/lesson-course-info/style.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_card-grid.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_tag.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/style.scss
Labels: [Component] Learn Theme

#2860 Redirect deprecated tutorials to wordpress.tv
  wp-content/plugins/wporg-learn/inc/redirects.php
Labels: [Component] Learn Plugin

#2840 Fix performance: unused and blocking resources
  wp-content/mu-plugins/pub/locale-switcher/locale-switcher.php
  wp-content/plugins/wporg-learn/inc/locale.php
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.php
Labels: [Component] Learn Theme
