Repository WordPress/Learn, pull requests merged in 2024-09, with the labels that each got.

#2866 Make course lessons publicly previewable by default
  wp-content/plugins/wporg-learn/inc/post-meta.php
Labels: [Type] Enhancement, [Component] Learn Plugin, [Component] Sensei

#2875 fix the first query item doesn't display except
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lessons-content.php
Labels: [Type] Bug, [Component] Learn Theme

#2862 Single Lesson: Polish the design
  wp-content/themes/pub/wporg-learn-2024/assets/icon-check.svg
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-actions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-columns.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-header.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-standalone.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: [Component] Learn Theme

#2876 2871 follow-up style updates
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-header.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
  wp-content/themes/pub/wporg-learn-2024/templates/single-quiz.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
Labels: [Component] Learn Theme

#2877 Add course completion meta field
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/js/course-completion-meta/index.js
  wp-content/plugins/wporg-learn/webpack.config.js
  wp-content/themes/pub/wporg-learn-2024/patterns/page-course-complete-content.php
Labels: [Component] Learn Theme, [Component] Learn Plugin

#2885 Navigation: Add "log in" link to local nav
  wp-content/themes/pub/wporg-learn-2024/functions.php
Labels: [Component] Learn Theme

#2881 Fix quiz styles
  wp-content/themes/pub/wporg-learn-2024/assets/icon-check.svg
  wp-content/themes/pub/wporg-learn-2024/inc/block-hooks.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-columns.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-quiz-notices.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
  wp-content/themes/pub/wporg-learn-2024/templates/single-quiz.html
Labels: [Type] Bug, [Component] Learn Theme, Accessibility
