Repository WordPress/Learn, pull requests merged in 2024-07, with the labels that each got.

#2588 Featured Lessons only on front page
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/js/lesson-featured-meta/index.js
  wp-content/plugins/wporg-learn/webpack.config.js
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-content.php
  wp-content/themes/pub/wporg-learn-2024/src/lesson-grid/block.json
  wp-content/themes/pub/wporg-learn-2024/src/lesson-grid/index.js
  wp-content/themes/pub/wporg-learn-2024/src/lesson-grid/index.php
Labels: [Component] Learn Theme, [Component] Learn Plugin, Dev

#2582 Update lesson list
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/package.json
  wp-content/themes/pub/wporg-learn-2024/patterns/page-my-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sidebar-meta-info.php
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/block.json
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.js
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
  wp-content/themes/pub/wporg-learn-2024/src/style/_sidebar.scss
  wp-content/themes/pub/wporg-learn-2024/theme.json
  yarn.lock
Labels: [Component] Learn Theme

#2600 Course completed page
  wp-content/themes/pub/wporg-learn-2024/patterns/page-course-complete-content.php
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
  wp-content/themes/pub/wporg-learn-2024/templates/page-course-complete.html
  wp-content/themes/pub/wporg-learn-2024/theme.json
Labels: [Component] Learn Theme

#2594 Add support for Learning Mode for standalone lessons
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-header.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: [Type] Bug, [Component] Learn Theme, [Component] Sensei, Dev

#2592 Enforce login when accessing My Courses page
  wp-content/plugins/wporg-learn/inc/sensei.php
Labels: [Component] Learn Plugin, Dev

#2651 Update icon, font size, color for Learning Duration
  wp-content/themes/pub/wporg-learn-2024/assets/icon-clock.svg
  wp-content/themes/pub/wporg-learn-2024/parts/card-course-h3.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-course.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-lesson-h3.html
  wp-content/themes/pub/wporg-learn-2024/parts/card-lesson.html
  wp-content/themes/pub/wporg-learn-2024/parts/card.html
  wp-content/themes/pub/wporg-learn-2024/src/style/_card-grid.scss
Labels: [Component] Learn Theme

#2652 Add copy & expand buttons to syntax-highlighted code blocks
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/src/code/block.json
  wp-content/themes/pub/wporg-learn-2024/src/code/index.php
  wp-content/themes/pub/wporg-learn-2024/src/code/style.scss
  wp-content/themes/pub/wporg-learn-2024/src/code/view.js
Labels: [Component] Learn Theme

#2656 Improve Learning Pathway section no results message
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lesson-plan-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/archive-lessons-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/page-my-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/query-no-courses.php
  wp-content/themes/pub/wporg-learn-2024/patterns/query-no-lesson-plans.php
  wp-content/themes/pub/wporg-learn-2024/patterns/query-no-lessons.php
  wp-content/themes/pub/wporg-learn-2024/patterns/query-no-online-workshops.php
  wp-content/themes/pub/wporg-learn-2024/patterns/query-no-pathways.php
  wp-content/themes/pub/wporg-learn-2024/patterns/query-no-results.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content-search-grid.php
  wp-content/themes/pub/wporg-learn-2024/patterns/taxonomy-learning-pathway-content-sections.php
  wp-content/themes/pub/wporg-learn-2024/src/learning-pathway-cards/index.php
  wp-content/themes/pub/wporg-learn-2024/src/upcoming-online-workshops/index.php
Labels: [Component] Learn Theme

#2657 Prioritize Courses, Lessons, Lesson Plans and Tutorials matching user's locale
  wp-content/plugins/wporg-learn/inc/locale.php
  wp-content/themes/pub/wporg-learn-2020/functions.php
Labels: [Component] Learn Theme, [Component] Learn Plugin, Dev

#2670 Stop home page intro sections from wrapping on wide screens
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-content.php
Labels: [Component] Learn Theme

#2658 Add a post meta filter to exclude certain lessons from archive views
  wp-content/plugins/wporg-learn/inc/post-meta.php
  wp-content/plugins/wporg-learn/js/lesson-archive-excluded-meta/index.js
  wp-content/plugins/wporg-learn/webpack.config.js
  wp-content/themes/pub/wporg-learn-2024/inc/query.php
Labels: [Component] Learn Theme, [Component] Learn Plugin

#2671 Fix My Courses returns all courses when 'All' is selected
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
Labels: [Type] Bug, [Component] Sensei

#2672 Fix browser titles
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/head.php
Labels: [Type] Bug, [Component] Learn Theme

#2741 Treat standalone lesson and lesson without published course the same
  wp-content/plugins/wporg-learn/inc/sensei.php
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-columns.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sensei-lesson-standalone.php
  wp-content/themes/pub/wporg-learn-2024/patterns/single-lesson-content.php
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
  wp-content/themes/pub/wporg-learn-2024/templates/single-lesson.html
Labels: [Component] Learn Theme

#2750 Add a block to enhance the Sensei progress bars by adding aria labels
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/patterns/page-my-courses-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/sidebar-course.php
  wp-content/themes/pub/wporg-learn-2024/src/sensei-progress-bar/block.json
  wp-content/themes/pub/wporg-learn-2024/src/sensei-progress-bar/index.php
  wp-content/themes/pub/wporg-learn-2024/src/sensei-progress-bar/view.js
Labels: Accessibility

#2768 Fix sticky header position incorrect when on a smaller screen for lesson page
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: [Type] Bug, [Component] Learn Theme

#2777 Fix course cards links are duplicated
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/src/card-featured-image-a11y/block.json
  wp-content/themes/pub/wporg-learn-2024/src/card-featured-image-a11y/index.php
  wp-content/themes/pub/wporg-learn-2024/src/card-featured-image-a11y/view.js
Labels: Accessibility

#2772 Use the standard taxonomy template when learning pathways for term are sparse
  wp-content/themes/pub/wporg-learn-2024/functions.php
Labels: [Component] Learn Theme

#2786 Add labels to the lesson status icons
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-hooks.php
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.js
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.php
Labels: Accessibility

#2801 Add Search bar to the homepage
  wp-content/themes/pub/wporg-learn-2024/functions.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-config.php
  wp-content/themes/pub/wporg-learn-2024/inc/block-hooks.php
  wp-content/themes/pub/wporg-learn-2024/patterns/front-page-content.php
  wp-content/themes/pub/wporg-learn-2024/patterns/search-all-content.php
  wp-content/themes/pub/wporg-learn-2024/templates/front-page.html
  wp-content/themes/pub/wporg-learn-2024/templates/search-all.html
Labels: [Type] Enhancement, [Component] Learn Theme

#2776 Course outline block header enhance
  wp-content/themes/pub/wporg-learn-2024/src/course-outline/index.js
  wp-content/themes/pub/wporg-learn-2024/src/style/_sensei.scss
Labels: [Component] Learn Theme, [Component] Sensei
